body {
	margin: 0;
	padding: 0;	
	width: 100%;
	background-color: #ffffff;
	display: grid;
	grid-template-areas: 
    "header header nav nav nav kontakt"
    "unter unter unter unter unter unter"
    "pic1 pic1 pic1 pic2 pic2 pic2"
    "training1 training1 training2 training2 training3 training3"
    "sem sem sem sem sem sem"
    "footer footer footer footer footer footer";
  grid-gap: 0px;
  grid-template-columns: 15% 1fr 1fr 1fr 1fr 15%; 
  grid-template-rows: 70px auto 300px auto auto 230px;
}

#kopfzeile {
  grid-area: header;
  background-color: #2b5ac6;
  font-family: arial, helvetica, sans-serif;
	color: whitesmoke;
	font-size: 1em;
	padding: 1.5em 0 1.5em 1em;
	position: relative;
  }
  
#navigation {
	grid-area: nav;
	background-color: #2b5ac6;
	font-family: arial, helvetica, sans-serif;
	color: whitesmoke;
	font-size: 1em;
	padding: 0.5em;
	position: relative;
	font-weight: bold;
	text-align: left;
	
}

#mail {
	grid-area: kontakt;
	background-color: #2b5ac6;
	font-family: arial, helvetica, sans-serif;
	color: whitesmoke;
	font-size: 1em;
	padding: 1.5em 0 1.5em 0;
	position: relative;
	font-weight: bold;
	text-align: center;
	text-decoration: none;	
}

#interesse {
	text-decoration: none;	
	font-size: 1em;
	color: gray;
	border: thin solid;
	text-align: center;	
	background-color:#ffffff;
	border-radius:6px;
	padding: 0.7em 1em 0.7em 1em;
}
nav a {
	text-decoration: none;
	color: #ffffff;
}
nav a:focus,
nav a:hover,
nav a:active {    
    text-decoration:underline;
}
nav a:visited {
	color: #ffffff;
}
nav li {
	display: inline-block;
	list-style: none;
	font-family: arial, helvetica, sans-serif;
	font-size: 1em;
	color: #ffffff;
	margin: 0em 0.8em 0em 0.8em; 
}


#unterricht {
	grid-area: unter;
	font-family: arial, helvetica, sans-serif;
	line-height: 150%;
	padding: 1.5em 4em 2em 4em;
}

#bild1 {
	grid-area: pic1;
	display: flex;
	align-items: center;
	justify-content: left;
	padding: 0 4em 0 4em;
}

#bild2 {
	grid-area: pic2;
	display: flex;
	align-items: center;
	justify-content: left;
	padding: 0 4em 0em 2em;
}

.weite {
	width: auto;
	height: 300px;
}


#block1 {
	grid-area: training1;
	font-family: arial, helvetica, sans-serif;
	padding: 1em 2em 2em 4em;
	line-height: 150%;
}

#block2 {
	grid-area: training2;
	font-family: arial, helvetica, sans-serif;
	padding: 1em 2em 2em 2em;
	line-height: 150%;
}

#block3 {
	grid-area: training3;
	font-family: arial, helvetica, sans-serif;	
	padding: 1em 2em 2em 2em;
	line-height: 150%;
}

#probestunde {
	text-decoration: none;	
	font-size: 1em;
	color: black;
	border: thin solid;
	text-align: center;	
	background-color:#ffffff;
	border-radius:6px;
	padding: 1em 1.8em 1em 1.8em;
}

#trainingsvideo {
	grid-area: sem;
	font-family: arial, helvetica, sans-serif;
	line-height: 150%;
	padding: 1.5em 4em 2em 4em;
}

a[aria-current],
a:focus[aria-current] {
	color: white;
	text-decoration: underline;
}
a:hover[aria-current] {
	text-decoration: underline;	
}


h1 {
	font-family: arial, helvetica, sans-serif;
	font-size: 2.5em;
	line-height: 1em;
}

#endzeile {
	grid-area: footer;
	background-color: #2b5ac6;
	padding: 1.5em;
	font-family: arial, helvetica, sans-serif;
	font-size: 1em;
	color: whitesmoke;  
	text-align: center;
} 

footer > a:visited {
	color: #91D507
}
footer > a:link {
	color: whitesmoke;
}
