body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ffffff;
	display: grid;
	grid-template-areas:
    "header header nav nav nav kontakt"
    "logo logo logo willkommen willkommen willkommen"
    "article article article picture picture picture"
    "footer footer footer footer footer footer";
  grid-gap: 0px;
  grid-template-columns: 15% 1fr 1fr 1fr 1fr 15%;
  grid-template-rows: 70px auto auto 230px;
}

#kopfzeile {
  grid-area: header;
  background-color: #2b5ac6;
  font-family: arial, helvetica, sans-serif;
	color: whitesmoke;
	font-size: 1em;
	padding: 1.5em 0 1.5em 1em;
	position: relative;
  }

#navigation {
	grid-area: nav;
	background-color: #2b5ac6;
	font-family: arial, helvetica, sans-serif;
	color: whitesmoke;
	font-size: 1em;
	padding: 0.5em;
	position: relative;
	font-weight: bold;
	text-align: left;

}

#mail {
	grid-area: kontakt;
	background-color: #2b5ac6;
	font-family: arial, helvetica, sans-serif;
	color: whitesmoke;
	font-size: 1em;
	padding: 1.5em 0 1.5em 0;
	position: relative;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

#interesse {
	text-decoration: none;
	font-size: 1em;
	color: gray;
	border: thin solid;
	text-align: center;
	background-color:#ffffff;
	border-radius:6px;
	padding: 0.7em 1em 0.7em 1em;
}
nav a {
	text-decoration: none;
	color: #ffffff;
}
nav a:focus,
nav a:hover,
nav a:active {
    text-decoration:underline;
}
nav a:visited {
	color: #ffffff;
}
nav li {
	display: inline-block;
	list-style: none;
	font-family: arial, helvetica, sans-serif;
	font-size: 1em;
	color: #ffffff;
	margin: 0em 0.8em 0em 0.8em;
}

#emblem {
	grid-area: logo;
	display: flex;
	align-items: center;
	justify-content: center;
}

.yinyang {
	width: 100%;
}

figcaption {
	font-size: 1.3em;
	padding: .8em;
  text-align: center;
}

#willkommen {
	grid-area: willkommen;
	font-family: arial, helvetica, sans-serif;
	line-height: 150%;
	padding: 1.5em 2em 2em 2em;
}

#willkommen > h1 {
	margin-bottom: -0.2em;
}

#willkommen > h2 {
	line-height: 120%;
}

#willkommen > h3 {
	color: red;
	text-align: center;
	font-size: 1.4em;
}

#inhalt {
	grid-area: article;
	font-family: arial, helvetica, sans-serif;
	padding: 1em 2em 0 4em;
	line-height: 150%;
}

#probestunde {
	text-decoration: none;
	font-size: 1em;
	color: whitesmoke;
	border: thin solid;
	text-align: center;
	background-color:#000000;
	border-radius:6px;
	padding: 1em;
}

#schwert {
	grid-area: picture;
	display: block;
	object-fit: fill;
	padding: 0 0 0 0em;
	clip-path: inset(0px 0px 0px 20px);
}

a[aria-current],
a:focus[aria-current] {
	color: white;
	text-decoration: underline;
}
a:hover[aria-current] {
	text-decoration: underline;
}


h1 {
	font-family: arial, helvetica, sans-serif;
	font-size: 2.5em;
	line-height: 1em;
}

#endzeile {
	grid-area: footer;
	background-color: #2b5ac6;
	padding: 1.5em;
	font-family: arial, helvetica, sans-serif;
	font-size: 1em;
	color: whitesmoke;
	text-align: center;
}

footer > a:visited {
	color: #91D507
}
footer > a:link {
	color: whitesmoke;
}
